body,html,#container{
	
	width:100%;
	margin:0;
	position:relative;
	font-family:"微软雅黑";
	color:#696969;
}
#ShopName{
	position:relative;
	left:150px;
	top:100px;
	float:left;
	width:40%;
}
#ShopName h1{
	font-size:40px;
}
#formBox{
	background-color:#6CA6CD;
	width:450px;
	height:400px;
	font-size:18px;
	position:relative;
	right:140px;
	top:100px;
	float:right;
	filter:Alpha(opacity=50);
}
#formBox form{
	position:relative;
	top:100px;
	left:70px;
}
#formBox input{
	width:200px;
	height:30px;
}
#login {
	font-family:"微软雅黑";
	color:#696969;
	font-size:20px;	
	margin-left: 30px;
	width:70px;
	height:40px;
	background-color:none;
}

#register {
	font-family:"微软雅黑";
	color:#696969;
	font-size:20px;	
	margin-right: 30px;
	width:70px;
	height:40px;
	background-color:none;
}

a:hover,a:active{
	color:#696969;
	text-decoration:none;
}
a:link,a:visited{
	color:#696969;
	text-decoration:none;
}
